:root {
    --margin-content: 10px;
}
/* RESET */
/* e utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
.margin-b{
    margin-bottom: 30px;
}
.clearfix:after{
    clear: both;
    content: "";
    display: table;
}
/* Containet */
.container{
    max-width: 1800px;
    width: 99%;
    margin: 2em auto;
}
/* HEADER */
/* header{
Al momento non ho bisogno
    
} */
/* MAIN */
.jumbotron{
    background-color: sandybrown;
    border-radius: 20px;
    height: 400px;
}
.content{
    background-color:  blue;
    height: 450px;
}
.light-blue{
    background-color: lightblue;
}
.top{
    height: 15%;
    margin-bottom: var(--margin-content);
}
.side{
    width: 20%;
    
}
.middle{
    /* width: calc(60%-var(--content-margin); */
    width: calc(60% - var(--margin-content)*2);
    margin: 0 var(--margin-content);
}
.collomn{
    float: left;
    padding: 10px;    
}
/* FOOTER  */
footer{
    background-color: blueviolet;
    height: 80px;
}

/* Sistemazione pagina */


header a span, header a img{
    font-size: 2.5em;
    /* font-weight: bold;*/
    color: black;
    vertical-align: middle;
}
header a span{
    padding: 0 0.3em;
}
header a{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1em;

}
#icon{
    
    border-right: 1px solid gray ;

}
/* NAV  */
nav div{
    font-size: 1.5em;
    height: 2em;
    padding-right: 2em;
    float: left;

}
nav a{
    color:gray;
    line-height: 2em;
    margin: 0;
}